* {
  padding: 0;
  margin: 0;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.heading {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle {
  height: 650px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #16222a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #3a6073,
    #16222a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #3a6073,
    #16222a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.quotes {
  width: 50vw;
  font-size: medium;
  font-weight: bolder;
  color: whitesmoke;
  text-align: justify;
}

.mainImg {
  height: 600px;
}

.achievements {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ach {
  margin-bottom: 10px;
}

.personalLife {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgs {
  width: 250px;
  height: 200px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
}

.foot {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3a6073;
  color: white;
  font-weight: bolder;
}

.lists {
  list-style-type: none;
}

.pl {
  margin-bottom: 10px;
}

/*Tablet responsiveness*/

@media screen and (max-width: 768px) {
  .middle {
    height: 500px;
  }

  .mainImg {
    height: 500px;
  }

  .quotes {
    width: 25vw;
  }

  .achievements {
    height: 340px;
  }
  .lists {
    width: 70vw;
    text-align: justify;
  }

  .personalLife {
    height: 950px;
  }

  .pl {
    margin-bottom: 20px;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .foot {
    font-size: medium;
  }
}

/*Mobile Responsiveness*/
@media screen and (max-width: 480px) {
  .heading {
    height: 50px;
  }
  .nav-bar {
    font-size: smaller;
  }

  .mainImg {
    height: 400px;
  }
  .middle {
    height: 850px;
    flex-direction: column;
  }
  .quotes {
    width: 80vw;
    text-align: justify;
  }

  .achievements {
    height: 470px;
  }
  .list {
    text-align: justify;
  }
  .head-ach {
    margin-top: 10px;
  }

  .personalLife {
    height: 1800px;
  }
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
